* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  user-select: none;
  letter-spacing: .02em;
  font-family: Neuehaasgroteskdisp w02, sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.43;
}
a{
  color: black;
  text-decoration: none;

}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1270px;
}
.back-img-set{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-row-reverse{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}
.flex-side-reverse{
    flex-direction: row-reverse;
    display: flex;
}
.flex-side {
  display: flex;
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.col-12 {
  width: 100%;
}
.col-8{
  width: 66.66666%;
}
.col-7{
  width: 58.33333%;
}
.col-6 {
  width: 50%;
}
.col-5{
  width: 41.66667%;
}
.col-4{
  width: 33.33333%;
}

img{
  max-width: 100%;
  height: auto;
  border: 0;
}


.absolute-all{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.zIndex-1{
  z-index: -1;
}


@media (max-width: 1440px) {
  .container {
    max-width: 1270px;
  }
}
@media (max-width : 1260px){
  .container{
    max-width: 1140px;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
}